
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	width: 650px;
	margin: 0 auto;
	padding: 15px 25px;
	border: 3px solid blue;	
}

he{
	margin: 1em 0 0;
	color: #0b025c;
}

.error{
	color: red;
}

#numberOfMovies{
	width: 150px;
}